@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    min-height: 100vh;
    font-family: Arial;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(63, 63, 219);
}

h1 {
    font-size: 3rem;
}
    
button {
    font-size: 1rem;
    font-weight: bold;
    padding: 8px 18px;
    border: none;
    border-radius: 6px;
    background-color: white;
    transition: background-color 1s;
    margin-left: 10px;
}
