* {
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    border: 10px solid black;
    font-family: Arial;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    flex: auto;
}